.home-header {
  height: 120px;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  margin: 22px 10px;
  text-decoration: none;
  background-color: #05386b;
  font: 16px inter;
  height: 20px;
  color: white;
  padding: 7px 25px;
  border-radius: 5px;
}

.head-cont {
  margin-right: 20px;
  width: 150px;
  display: flex;
  justify-content: flex-end;
}

.home-header img {
  margin-top: 20px;
  height: 40px;
  margin-left: 20px;
}
