.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head {
  background-color: #05386b !important;
}

/* dropdown */

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 11px !important;
}

.user {
  min-height: 90vh;
}

.styles {
  padding: 10px 15px;
  list-style: none;
  text-decoration: none;
  color: #05386b;
  font-size: 11px !important;
}

.table {
  background: #05386b;
  color: white !important;
  width: 100%;
}

@media (max-width: 1035px) {
  .table {
    width: 100vh;
  }
}

.addform {
  position: absolute;
  top: 20%;
  right: 80px;
  height: 35px;
  display: flex;
}

.addform input {
  height: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: 2px solid #05386b;
  outline: none;
  padding-left: 6px;
}

.addform button {
  height: 100%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  outline: none;
  background: #05386b;
  color: white;
  padding: 0 10px;
  cursor: pointer;
}
