.user-container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 90%;
  margin: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.user-container .user-profile {
  display: flex;
  flex-direction: column;
  padding-bottom: 89px;
  width: 79%;
  margin: auto;
}

.user-container .user-profile .h2 {
  text-align: left;
  font-size: 28px;
  padding: 19px 0;
  color: #05386b;
}

.user-container .user-profile .user-contact {
  display: flex;
}

.user-container .user-profile .user-contact .empty {
  display: block;
  width: 50px;
}

.user-container .user-profile .user-image {
  width: 220px;
  height: 150px;
  max-width: 230px;
  max-height: 160px;
}

.user-container .user-profile .user-image img {
  width: 100%;
  border-radius: 50%;
}

.user-container .user-profile .user-details div {
  font-size: 18px;
  color: #05386b;
}

.user-container .user-profile .user-details div span {
  font-size: 18px;
  text-transform: capitalize;
  color: black;
}

.user-container .user-profile .user-details p {
  font-size: 13px;
  color: #05386b;
}

.user-container .user-profile .user-details button {
  width: 110px;
  height: 30px;
  font-size: 12px;
  background: transparent;
  border: 1px solid #05386b;
  border-top-right-radius: 9px;
  cursor: pointer;
}

.user-container .user-profile .user-details p span {
  color: black;
}

.user-container .user-orders .h2 {
  text-align: center;
  font-size: 28px;
  padding: 19px 0;
  color: #05386b;
  padding: 35px 0;
}

@media (max-width: 950px) {
  .user-container .user-profile {
    padding-bottom: 59px;
  }
  .user-container .user-profile .user-contact {
    height: 100%;
    flex-direction: column;
  }
  .user-container .user-profile .user-image {
    margin: auto;
  }
  .user-container .user-profile .user-contact .empty {
    display: block;
    height: 110px;
  }
  .user-container .user-profile .user-details {
    width: 215px;
    margin: auto;
    border-bottom: 1px solid #05386b;
  }

  .user-container .user-profile .user-details button {
    margin: 0 0 10px 0;
  }
  .user-container .user-profile .h2 {
    text-align: center;
  }
}
